<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {page:'Confirm Email'}) %>
<body>
    <div class="container">
        <%- include('./partials/imgbox.ejs') %>
        <div class="unsubscribe">
            <span class="corner">J</span>
            <div class="p">
                <p>Unsubscribe from our daily Research  Paper recommendations.</p>
                <button type="submit">Stop Sending papers</button>
            </div>
        </div>
    </div>
</body>
</html>